.header-container {
    width:100%;
    height:82vh;
    margin-top: 5rem;
    overflow-y: hidden;
    @media screen and (max-width:900px){
        height:inherit;
    }
}


.header-video{
    filter:grayscale(0.25);
    position: absolute;
    top: 0;
    left:0;
    opacity:0.25;
    width:100%;
}
.presentation-container{
    z-index:800;
}
.presentation{
    z-index: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        z-index: 600;
        border-radius: 20px;
        filter: drop-shadow(2rem 2rem 5rem #7eb6ff);
    }
    h1{
        @include title-important;
        z-index:1200;
    }
    p{
        @include title-secondary;
        text-align: center;
    }
    @media only screen and (max-width:900px){
        h1{
            font-size: 2em;
        }
        img{
            width:25%;
        }
    }
}

.aboutMe-description{
    display: flex;
    z-index: 800;
    text-align: center;
    flex-direction: column;
    align-items: center;
    color:$title-color2;
    @include title-third;
}

.img-langage-container{
    margin-top:4em;
    display:flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    @media screen and (max-width:900px){
        margin-top: 1em;;
    }
    img{
        width:4em;
        @media screen and (max-width:900px){
            width:1.5em;
        }
    }
    .lgo-html{
        width:6em;
        @media screen and (max-width:900px){
            width:3em;
        }
    }
    .lgo-react{
        width:6em;
        @media screen and (max-width:900px){
            width:3em;
        }
    }
}