.nav {
    position:sticky;
    top:0;
    background:whitesmoke;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: "Montserrat";
    font-weight: bold;
    z-index: 1000;
    border-bottom:  0.3rem solid grey;
}

.About {
    display: flex;
    color: $title-color;
    text-decoration: none;
    font-weight: bold;
    padding-left: 2.5em;
    &:hover{
        transform: scale(1.2);
    }
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}