.nav {
    position:sticky;
    box-sizing: border-box;
    top:0;
    left:0;
    right:0;
    background:$text-color2;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3vh;
    font-family: "Montserrat";
    font-weight: bold;
    z-index: 1800;
    border-bottom:  0.3rem solid grey;
    @media screen and (max-width:900px){
        font-size:2vh;
    }
}

.About {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    &:hover{
        transform: scale(1.2);
    }
}