.nav {
    position:sticky;
    top:0;
    background:whitesmoke;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 90%;
    font-family: "Montserrat";
    font-weight: bold;
    z-index: 1000;
    border-bottom:  0.3rem solid grey;
}

.About {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: $title-color;
    text-decoration: none;
    font-weight: bold;
    &:hover{
        transform: scale(1.2);
    }
}